/* Contact page */
@media(max-width:1345px){
    #contactUS{
        width: 150% !important;
    }
}

@media(max-width:1135px){
    #contactDiv{
        display: none;
    }
    
}

@media(min-width:1014px){
    .wave3{
        width: 100%;
    }
}

@media(max-width:836px){
    .col-12, #c12{
        flex-wrap: wrap !important;
    }
}

@media(max-width:991px){
    .iframe-lazy-load {
        position: relative;
        padding-bottom: 41% !important;
        height: 0;
        background: #ccc;
    }
    .getCont{
        width: 550px;
    }
    .contDetails{
        margin-top: 180px;
        flex-wrap: wrap;
    }
}

@media(max-width:1184px){
    .cont{
        width: 80%;
    }
}

@media(max-width:875px){
    .cont{
        flex-wrap: wrap;
        justify-content: center;    
    }
}

@media(max-width:555px){
    .getCont{
        width: 350px;
    }
    .contDetails{
        margin-top: 280px;
        flex-wrap: wrap;
    }
    .about-img img{
        max-width: 70%;
    }
}
@media(max-width: 404px){
    .cont img{
       width:  220px;
    }
}

@media(max-width:892px){
    ,row1{
        margin: 0 0 0 50px;
    }
}